<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.asp" />
      </files>
    </defaultDocument>    
    <staticContent>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html;charset=UTF-8" />
    </staticContent>  
    <rewrite>
      <rules>
        <remove name="Xprod rule" />
<%names%>
                <rule name="Xprod rule" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="xprod" />
                    <conditions />
                    <serverVariables />
                    <action type="Redirect" url="/implement/standards/x_prod/ig/uv/gender-harmony/index.html" />
                </rule>
      </rules>
    </rewrite>
        <httpErrors errorMode="Custom" />
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
</configuration>